.container{
    width: 100%;
    height: 50;
    background-color: rgb(23 37 84);
}
.headerWidget{
    display: flex;
    height: 13;
    width: 98%;
    margin-bottom: 10px;
    margin-left: 3px;
    background-color: #bedac4;

}
.widget{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-right: 20px;
   
}
.widgetRow{
    width: 300px;

    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #307cee;
    box-shadow: rgba(0 ,0,0,0.35) 0px 5px 15px;
    cursor: pointer;
}
.widgetRow01{
    width: 320px;

    display: flex;
    justify-content: space-between;
    background-color: #585bf1;
    border-radius: 10px;
    box-shadow: rgba(0 ,0,0,0.35) 0px 5px 15px;
    cursor: pointer;
}
.widgetRow02{
    width: 320px;

    display: flex;
    justify-content: space-between;
    background-color: #667e40;
    border-radius: 10px;
    box-shadow: rgba(0 ,0,0,0.35) 0px 5px 15px;
    cursor: pointer;
}
.widgetRow03{
    width: 300px;

    display: flex;
    justify-content: space-between;
    background-color: rgb(68, 168, 102);
    border-radius: 10px;
    box-shadow: rgba(0 ,0,0,0.35) 0px 5px 15px;
    cursor: pointer;

}
.icon{
    margin-left: -16px;
   font-size: 48px;
   color: rgb(255, 255, 255);
   margin-right: 15px;
   margin-top: 7px;
   
}
.iconPeople{
    margin-left: -10px;
   font-size: 58px;
   color: rgb(255, 255, 255);
   margin-right: 15px;
   margin-top: 7px;
   
}
.icon01{
    
   font-size: 32px;
   color: rgb(255, 255, 255);
   margin-right: 7px;
   margin-top: 0px;
   
}
.widgetItem{
    flex:1;
    margin: 0px 27px;
    padding: 4px;
    border-radius: 10px;
   
}
.widgetTitle{
    color: rgb(255, 255, 255);
    font-size: 17px;
    margin: 7px 10px;

}
.widgetMoneyContainer{
    margin: 0px 20px;
    display: flex;
    align-items: center;
}
.widgetMoney{
    font-size: 18px;
    font-weight: 600;
    margin: 0px 18px;

}
.helperSale{
    font-size: 19px;
    font-weight: 600;
    margin: 0px 7px;

}
.widgetSub{
    margin: 7px 17px;

}