.container{
    width: 100%;
    height: 50;
    background-color: rgb(23 37 84);
}
.headerWidget{
    display: flex;
    height: 13;
    width: 98%;
    margin-bottom: 10px;
    margin-left: 3px;
    background-color: #fbfbfd;

}
.widget{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-right: 10px;
    margin-left: 60px;
   
}
.widgetRow{
    width: 260px;

    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #fbfbfd  ;
    box-shadow: rgba(0 ,0,0,0.35) 0px 5px 15px;
    cursor: pointer;
}
.widgetRow01{
    width: 260px;
    margin-left: 40px;

    display: flex;
    justify-content: space-between;
    background-color: #fbfbfd;
    border-radius: 10px;
    box-shadow: rgba(0 ,0,0,0.35) 0px 5px 15px;
    cursor: pointer;
}
.widgetRow02{
    width: 260px;
    margin-left: 40px;

    display: flex;
    justify-content: space-between;
    background-color: #fbfbfd;
    border-radius: 10px;
    box-shadow: rgba(0 ,0,0,0.35) 0px 5px 15px;
    cursor: pointer;
}
.widgetRow03{
    width: 260px;
    margin-left: 40px;

    display: flex;
    justify-content: space-between;
    background-color: #fbfbfd;
    border-radius: 10px;
    box-shadow: rgba(0 ,0,0,0.35) 0px 5px 15px;
    cursor: pointer;

}
.icon{
    margin-left: -10px;
   font-size: 38px;
   color: rgb(97, 97, 97);
   margin-right: 15px;
   margin-top: 7px;
   
}
.iconLan{
    
    font-size: 15px;
    color: rgb(97, 97, 97);
    margin-left: 17px;
    margin-top: 15px;
    
  }
.iconPeople{
    margin-left: -10px;
   font-size: 48px;
   color: rgb(97, 97, 97);
   margin-right: 15px;
   margin-top: 7px;
   
}
.icon01{
    
   font-size: 32px;
   color: rgb(0, 0, 0);
   margin-right: 7px;
   margin-top: 0px;
   
}
.circle01{
    
    font-size: 18px;
    color:rgb(0, 136, 254);
    margin-right: 7px;
    margin-top: 3px;
    
 }
 .circle02{
    
    font-size: 18px;
    color:rgb(0, 196, 159);
    margin-right: 7px;
    margin-top: 3px;
    
 }
 .circle03{
    
    font-size: 18px;
    color:rgb(255, 187, 40);
    margin-right: 7px;
    margin-top: 3px;
    
 }
 .circle04{
    
    font-size: 18px;
    color:rgb(255, 128, 66);
    margin-right: 7px;
    margin-top: 3px;
    
 }
.widgetItem{
    flex:1;
    margin: 0px 27px;
    padding: 4px;
    border-radius: 10px;
   
}
.widgetTitle{
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin: 7px 5px;

}
.widgetMoneyContainer{
    margin: 0px 4px;
    display: flex;
    align-items: center;
}
.widgetMoney{
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
    margin: 0px 12px;

}
.helperSale{
    font-size: 14px;
    font-weight: 600;
    margin: 0px 0px;

}
.widgetSub{
    margin: 7px 17px;

}