.container{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 460px;
    background-color: #fff;
    padding-bottom: 30px;
}
.inputs{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input{
    margin: auto;
    display: flex;
    align-items: center;
    width: 300px;
    height: 55px;
    background: #eaeaea;
    border-radius: 6px;
}
.input input{
    height: 50px;
    width: 250px;
    background: transparent;
    border: none;
    outline: none;
    color: #eaeaea;
    font-size: 12px;
}
.input_img_email{
    margin: 0px 20px;
    width: 34px;
}
.input_img_password{
    margin: 0px 28px;
    width: 20px;
}
.button_sigin{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 130px;
   height: 39px;
   color: #fff;
   background: #754A6F;
   border-radius: 30px;
   border-color: #0f0f0f;
   font-size: 16px;
   cursor: pointer;
}
.text-Dont{
    margin: 30px 275px;
    width: 230px;
}
.button_div{
    background-color: #fff;
    width: 460px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
  
    
}
 